/*------------------------------------------------------------------
 AUTHOR: TYRONE STAFFORD @ Fishgate 2013
-------------------------------------------------------------------*/
html{
    height: 100%;
}
body{
    height: 100%;
    background: #171F21;
    color: #597781;
    font-size: 14px;
}
/*==============================================
                  MINI RESETS
===============================================*/
h1{
    font-weight: normal;
    font-size: 16px;
    text-transform: uppercase;
    background: #9fc20e;
    margin: 0;
    padding: 20px;
    color: #fff;
    
   -webkit-box-shadow: 0 3px 2px #000;
   -moz-box-shadow: 0 3px 2px #000;
   -o-box-shadow: 0 3px 2px #000;
   box-shadow: 0 3px 2px #000;
   
}
h2{
    font-weight: normal;
    font-size: 18px;
    color: #5ddefd;
    margin-top: 0;
}

h3{
    font-weight: normal;
    font-size: 18px;
    color: #5ddefd;
    margin: 0 0 30px 0;
    
}
h4{
    margin: 0 0 25px 0;
}
a{
    text-decoration: none;
    color: #ccc;
}
a:hover{
    color: #fff;
}

/*==============================================
                  COLOR GROUP
===============================================*/
.red{color: #E74C3C;}
.green{color: #2ECC71;}
.blue{color: #3498DB;}

.red_bg{background: #E74C3C;}
.green_bg{background: #2ECC71;}
.blue_bg{background: #3498DB;}


/*==============================================
                  LOGIN FORM
===============================================*/
#loginform{
    width: 20%;
    margin: 0 auto;
    padding: 30px;
    background: #ECF0F1;
    
    position: relative;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
#decoration_index{
    position: absolute;
    top: -13px;
    left: 45%;
    
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #ECF0F1;
}
.centered{
    text-align: center;
}
input, select{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    
    color: #597781;
    padding: 5px;
    margin: 0 0 10px 0;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    
    width: 100%;
}
input[type=button]{
    background: #FC0;
    border: 0;
    color: #000;
}
input[type=button]:hover{
    background: #fee171;
}



/*==============================================
                 DASHBOARD NAV
===============================================*/
nav{
    position: fixed;
    z-index: 100;
    background: #fff;
    
    width: 180px;
    height: 100%;
}

#menutitle{
    font-weight: normal;
    font-size: 14px;
    text-transform: uppercase;
    background: #9fc20e;
    margin: 0;
    padding: 20px;
    color: #fff;
    
   -webkit-box-shadow: 0 2px 2px #000;
   -moz-box-shadow: 0 2px 2px #000;
   -o-box-shadow: 0 2px 2px #000;
   box-shadow: 0 2px 2px #000;
   
   position: relative;
   z-index: 1;
}
.decoration{
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    
   -webkit-box-shadow: 2px 2px 2px #222;
   -moz-box-shadow: 2px 2px 2px #222;
   -o-box-shadow: 2px 2px 2px #222;
   box-shadow: 2px 2px 2px #222;
    
    width: 20px;
    height: 20px;
    background: #9fc20e;
    
    position: absolute;
    z-index: 2;
    top: 45px;
    right: 80px;
}
#wrapper{
    height: 100%;
    padding: 50px 0 50px 200px;
}
#dash-nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#dash-nav li{
    padding: 20px;
    /*border-top: 1px solid #eee;*/
    border-bottom: 1px solid #ccc;
    color: #ccc;
}


#dash-nav li:hover{
    border-right: 3px solid #fe2aa3;
    color: #fff;
    
    background: #597781;
}
#selected{
    border-right: 3px solid #fe2aa3;
    color: #fff!important;
    
    background: #597781;
}
/*==============================================
                  QUICKSEND
===============================================*/
#quicksendform{
    margin: 0 0 0 25px;
}
.quicksend_msg{
    margin: 0 0 0 25px;
}
.contents{
    width: 100%;
}
#quicksend{
    width: 350px;
}


/*==============================================
                  RECENT EMAILS
===============================================*/
.recents_holder{
    margin: 0 0 60px 25px;
}
.recents{
    width: 400px;
    padding: 20px;
    background: #eee;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
.recent_heads{
    color: #597781;
    background: #101518;
}
.recents table{
    background: #ccc;
    color: #101518;
}

/*==============================================
                  ANALYTICS DIV
===============================================*/
#chart{
    margin: 0 0 0 25px;
}
.analytics{
    width: 100%;
    padding: 20px;
    background: #eee;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
.small_block{
    width: 10px;
    height: 10px;
    display: inline-block;
}
#stats_holder{
    display: inline-block;
}


/*==============================================
                 LOGS
===============================================*/
#logs_overview, #logs_menu{
    padding: 20px;
    margin-top: 30px;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    
    background: #eee;
}
#logs_menu{
    background: transparent;
    padding: 0;
}
#logs_menu_holder{
    padding: 0 25px;
}

/*==============================================
                  HELPERS
===============================================*/
.hidden{
    display: none;
}

.invisible{
    visibility: hidden;
}

.left{
    float: left;
}
.right{
    float: right;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}